<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ site.name }}</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
	<link href="static/site.css?nocache=123" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Reddit Saved Manager</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="#">Signed in as <strong>ibly31</strong></a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
			<!--/.container-fluid -->
		</nav>
		<div id="content" class="jumbotron">
			{{ content }}
		</div>
	</div>
	<!-- Load CDN scripts at bottom to increase page load speed -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script type="text/javascript" src="static/js/jsrender.js"></script>
	<script type="text/javascript" src="static/js/jsviews.js"></script>
	<script type="text/javascript" src="static/js/Snoocore-standalone.js"></script>
	<script src="static/js/site.js?nocache=123"></script>
	{% for template in site.data.templates %}
	<script src="{{ template.js }}?nocache=123"></script>
	{% endfor %}
	<script type="text/javascript">
		window.Templates = {};
		{% for t in site.data.templates %}
		window.Templates.{{ t.name }} = {};
		window.Templates.{{ t.name }}.page = "{{ t.page }}";
		window.Templates.{{ t.name }}.selector = "{{ t.selector }}";
		window.Templates.{{ t.name }}.postFunc = function(){
			{{ t.post }}
		};
		{% endfor %}
		$(document).ready(function() {
			console.log("Ready!");
		});
		/*$(document).ready(function() {
			'use strict';
			location.queryString = {};
			location.hash.substr(1).split("&").forEach(function(pair) {
				if (pair === "") {
					return;
				}
				var parts = pair.split("=");
				location.queryString[parts[0]] = parts[1] && decodeURIComponent(parts[1].replace(/\+/g, " "));
			});

			Site.Init(location.queryString);
			Site.WaitForTemplate("static/js/auth.js");
		});*/
	</script>
</body>

</html>
